<nav  ng-controller="LoginController as vm" class=" navbar navbar-expand-lg navbar-dark bg-primary" ng-init="vm.init()">
  <a class="navbar-brand" href="#">Mean Hotel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
     <li ng-class="vm.isActiveTab('')" class="nav-item active" ><a  class="nav-link" href="/#!/">Home</a></li>
    <li ng-class="vm.isActiveTab('hotels')" class="nav-item active" ><a  class="nav-link"  href="/#!/hotels">Hotels</a></li>
     <li ng-class="vm.isActiveTab('register')" class="nav-item active"  ng-if="!vm.isLoggedIn()"><a  class="nav-link"  href="/#!/register">Register</a></li>
    <li ng-class="vm.isActiveTab('profile')" class="nav-item active"   ng-if="vm.isLoggedIn()"><a  class="nav-link"  href="/#!/profile">Profile</a></li>

    </ul>
    <form ng-if="!vm.isLoggedIn()" class="form-inline my-2 my-lg-0" role="login" ng-submit="vm.login()">
      <div class="form-group" ng-class="{'has-error' : vm.error }">
          <input class="form-control mr-sm-2" type="text" placeholder="Username" ng-model="vm.username" autocapitalize="none">
      </div>
      <div class="form-group" ng-class="{'has-error' : vm.error }">
          <input class="form-control mr-sm-2" type="text" placeholder="password" ng-model="vm.password" autocapitalize="none">
      </div>
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
  <ul ng-if="vm.isLoggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item " ><p class="navbar-text">Welcome back {{vm.loggedinUser}}. </p></li>
     <li><button class="btn btn-danger btn-sm" ng-click="vm.logout()">Logout</button>
    </ul>
</nav>
























